<div class="container">
  <div class="panel panel-primary" style="position: relative;">

    <div class="preloader" id="preloader" *ngIf="!purchasesLoaded">
      <div class="loader">
        <svg class="spinner" viewBox="0 0 50 50">
          <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
      </div>
    </div>

    <div class="panel-heading">
      <h2>Purchases</h2>
    </div>

    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="d-none">ID</th>
            <th>Number of Adults</th>
            <th>Number of Children</th>
            <th>Price</th>
            <th>Created At</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchase of purchases">
            <td class="d-none">{{purchase.id}}</td>
            <td>{{purchase.numberOfAdults}}</td>
            <td>{{purchase.numberOfChildren}}</td>
            <td>{{purchase.price}}</td>
            <td>{{purchase.createdAt}}</td>
            <td class="d-flex">
              <a href="#" [routerLink]="['/purchase/view', purchase.id]" class="btn btn-info">View</a>
              <a href="#" [routerLink]="['/purchase/edit', purchase.id, purchase.trip.id]" class="btn btn-primary">Edit</a>
              <button type="button" class="btn btn-danger" (click)="openModal(purchase.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>

  <div class="modal fade" id="deleteModal" data-bs-backdrop="static">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">

        <div class="modal-header flex-column">
          <button type="button" class="btn-close" aria-hidden="true" (click)="closeModal()"></button>
          <h4 class="modal-title w-100">Are you sure?</h4>
        </div>

        <div class="modal-body">
          <p>Do you really want to delete this record? This process cannot be undone.</p>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="deletePurchase()">Delete</button>
        </div>

      </div>
    </div>
  </div>
</div>
