<div class="container">
  <h1>Edit Form</h1>

  <a href="#" routerLink="/trip/index" class="btn btn-primary mb-3">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="row mb-3">
      <label for="departureDate" class="col-2 col-form-label" style="text-align: right">Departure date:</label>
      <div class="col-10">
        <input type="text" class="form-control" id="departureDate" style="width: 300px" formControlName="departureDate" name="daterange-single" readonly>
      </div>
    </div>

    <div class="row mb-3">
      <label for="returnDate" class="col-2 col-form-label" style="text-align: right">Return date:</label>
      <div class="col-10">
        <input type="text" class="form-control" id="returnDate" style="width: 300px" formControlName="returnDate" name="daterange-single" readonly>
      </div>
    </div>

    <div class="row mb-3">
      <label for="cityDeparture" class="col-2 col-form-label" style="text-align: right">City of departure:</label>
      <div class="col-10">
        <select class="form-select" id="cityDeparture" style="width: 300px" formControlName="cityDeparture">
          <option value="">Select...</option>
          <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="airportDeparture" class="col-2 col-form-label" style="text-align: right">Airport of departure:</label>
      <div class="col-10">
        <select class="form-select" id="airportDeparture" style="width: 300px" formControlName="airportDeparture">
          <option value="">Select...</option>
          <option *ngFor="let airportFrom of airportFroms" [value]="airportFrom.id">{{airportFrom.name}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="cityStay" class="col-2 col-form-label" style="text-align: right">City of stay:</label>
      <div class="col-10">
        <select class="form-select" id="cityStay" style="width: 300px" formControlName="cityStay">
          <option value="">Select...</option>
          <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="airportArrival" class="col-2 col-form-label" style="text-align: right">Airport of arrival:</label>
      <div class="col-10">
        <select class="form-select" id="airportArrival" style="width: 300px" formControlName="airportArrival">
          <option value="">Select...</option>
          <option *ngFor="let airportTo of airportTos" [value]="airportTo.id">{{airportTo.name}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="hotelStay" class="col-2 col-form-label" style="text-align: right">Hotel of stay:</label>
      <div class="col-10">
        <select class="form-select" id="hotelStay" style="width: 300px" formControlName="hotelStay">
          <option value="">Select...</option>
          <option *ngFor="let hotel of hotels" [value]="hotel.id">{{hotel.name}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="adultPrice" class="col-2 col-form-label" style="text-align: right;">Adult price:</label>
      <div class="col-10">
        <input type="text" class="form-control" id="adultPrice" style="width: 300px" formControlName="adultPrice" appTwoDigitDecimalNumber>
      </div>
    </div>

    <div class="row mb-3">
      <label for="childPrice" class="col-2 col-form-label" style="text-align: right;">Child price:</label>
      <div class="col-10">
        <input type="text" class="form-control" id="childPrice" style="width: 300px" formControlName="childPrice" appTwoDigitDecimalNumber>
      </div>
    </div>

    <div class="row mb-3">
      <label for="nAdultBeds" class="col-2 col-form-label" style="text-align: right;">Number of adult beds:</label>
      <div class="col-10">
        <input type="number" class="form-control" id="nAdultBeds" style="width: 300px" formControlName="nAdultBeds" min=0>
      </div>
    </div>

    <div class="row mb-3">
      <label for="nChildBeds" class="col-2 col-form-label" style="text-align: right;">Number of child beds:</label>
      <div class="col-10">
        <input type="number" class="form-control" id="nChildBeds" style="width: 300px" formControlName="nChildBeds" min=0>
      </div>
    </div>

    <div class="row mb-3">
      <label for="vacancies" class="col-2 col-form-label" style="text-align: right;">Vacancies:</label>
      <div class="col-10">
        <input type="number" class="form-control" id="vacancies" style="width: 300px" formControlName="vacancies" min=0>
      </div>
    </div>

    <div class="row mb-3">
      <label for="boardBasisType" class="col-2 col-form-label" style="text-align: right">Board basis type:</label>
      <div class="col-10">
        <select class="form-select" id="boardBasisType" style="width: 300px" formControlName="boardBasisType">
          <option value="">Select...</option>
          <option value="1">RO</option>
          <option value="2">BB</option>
          <option value="3">HB</option>
          <option value="4">FB</option>
          <option value="5">AI</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="promoted" class="col-2 col-form-label" style="text-align: right;">Promoted:</label>
      <div class="col-10">
        <input type="checkbox" class="form-check-input" style="margin-top: 12px;" id="promoted" formControlName="promoted">
      </div>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">{{action}}</button>
    </div>
  </form>
</div>
