<div class="container">
  <h1>Create New Purchase</h1>

  <a href="#" routerLink="/trip/index" class="btn btn-primary mb-3">Back</a>
 
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-3">
      <label class="form-label" for="nadults">Number of Adults:</label>
      <input formControlName="numberOfAdults" id="nadults" type="number" min="0" class="form-control" style="width: 100px"/>
    </div>

    <div class="mb-3">
      <label class="form-label" for="nchildren">Number of Children:</label>
      <input formControlName="numberOfChildren" id="nchildren" type="number" min="0" class="form-control" style="width: 100px"/>
    </div>
  
    <button class="btn btn-primary" type="submit">Submit</button>

  </form>
</div>
